.card-Insight-btm {
    width: 45%;
    padding: 20px;
    display: flex;
    text-align: start;
    border-radius: 40px;
}

.container-Insight {
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-Insight {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}


.con-Insight {
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: #F2F3F5;
}

.card-Insight-Text {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;

}

.img-Insight {
    width: 40px;
    height: 40px;

}

.card-Insight {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 120px;
    width: 220px;
    background-color: #F2F3F5;
}

.card-Insight-bottom {
    display: flex;
    justify-content: flex-start;
}

.card-Insight-out {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shadow-Insight {
    border: 0;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
}

.insightimage {
    background-image: url(../../assets/images/bginsight.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.btn-Insight {
    border: 0;
    border-radius: 40px;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
}

.btn-Insight:hover {
    background-color: #eeeeee;
}

.btn-Insight:focus {
    border: 0;
    border-radius: 40px;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width:1400px) {
    .card-Insight {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        border-radius: 40px;
        height: 120px;
        width: 280px;
        background-color: #F2F3F5;

    }

    .card-Insight-btm {
        width: 70%;
        padding: 20px;
        display: flex;
        text-align: start;
        border-radius: 40px;

    }

    .container-Insight {

        display: flex;
        justify-content: center;
    }

    .card-Insight-out {
        display: flex;
        justify-content: center;
    }

    .title-Insight {
        display: flex;
        text-align: center;
    }

    .card-Insight-bottom {
        display: flex;
        justify-content: center;
    }

    .con-Insight {
        margin-top: 0px;
        margin-bottom: 100px;
    }



}