* {
    margin: 0;
    padding: 0;
}

.card-con {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #F2F3F5;
    ;
}

.title-con {
    padding-top: 750px;
    padding-bottom: 120px;
}

.card-con h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-context {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;

}

.shadow-con {
    border: 0;
    box-shadow: -5px -5px 20px #fffffff3, 5px 5px 15px #5e5e5e7e;
}

.conimage {
    background-image: url(../../assets/images/bgcontent3.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    /* overflow: hidden; */
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 0;
    box-shadow: inset -10px -10px 15px #ffffff,
        inset 1px 1px 15px #7a7a7a85;
    border-radius: 50%;
}

.card-body h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width:1200px) {

    .title-con {
        display: flex;
        justify-content: center;
    }

    .card-con {
        width: 60%;
        padding: 20px;
        display: flex;
        text-align: start;
        border-radius: 40px;
    }
}