/* -------------------------- Start Templete --------------------------  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
    background: #F2F3F5;
    overflow-x: hidden !important;
}

.nav-link {
    font-weight: bold !important;
}

.box-content {
    padding-top: 10%;
}

@media (max-width: 992px) {

    .box-content {
        padding-top: 20%;
    }
}

* {
    margin: 0;
    padding: 0;
}

/* -------------------------- End Templete --------------------------  */

/* -------------------------- Start Banner --------------------------  */
.mousedown {
    color: white;
}

.writing-mode {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.icon-mousedown {
    font-size: 2.5rem;
}

.mousedown p {
    height: 80px;
    width: 20px;
    font-size: 1rem;
    margin-left: 6px;
}

.mousedown a {
    height: 70px;
    width: 70px;
}

.container-Banner {
    padding-top: 200px;
    padding-bottom: 100px;
}

.Banner h1 {
    font-size: 3.4rem;
    font-weight: bold;
}

.Banner h3 {
    font-size: 2.2rem;
}

.card-Banner h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-Banner p {
    font-size: 1rem;
}

.btn-get {
    height: 3.6rem;
    width: 16rem;
    font-size: 1.2rem;
}

.Banner .btn-danger {
    background-color: #E20000;
    border: 1px solid #E20000;
}

.Banner .btn-danger:hover {
    background-color: #b60202;
    border: 1px solid #b60202;
}

.btn-nav {
    height: 40px;
    width: 140px;
    font-size: 18px;
}

.navbar-nav .btn-danger {
    background-color: #E20000;
    border: 1px solid #E20000;
}

.navbar-nav .btn-danger:hover {
    background-color: #b60202;
    border: 1px solid #b60202;
}

.card-Banner {
    width: 80%;
    background-color: #F2F3F5;
    padding: 40px 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
}

.shadow-Banner {
    border: 0;
    box-shadow: -5px -5px 20px #F2F3F7, 5px 5px 15px #3a3a3a7e;
}

.card-Text {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.card-Banner-box {
    width: 30%;
    background-color: #F2F3F5;
    height: auto;
    border-radius: 40px;
}

.bannerimage {
    background-image: url(../../assets/images/banner.svg);
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;

}

@media screen and (max-width:960px) {
    .Banner h1 {
        font-size: 3.4rem;
        font-weight: bold;
    }

    .Banner h3 {
        font-size: 2.6rem;
    }

    .card-Banner h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .btn-get {
        height: 3rem;
        width: 11rem;
        font-size: 1.1rem;
    }

    .btn-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        height: 100%;
        width: 110px;
        font-size: 14px;
    }

    .card-Text {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .container-Banner {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .card-Banner {
        width: 80%;
        background-color: #F2F3F5;
        padding: 20px 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 40px;
    }

    .icon-mousedown {
        font-size: 2.2rem;
    }

    .mousedown p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:540px) {
    .Banner h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .Banner h3 {
        font-size: 2.4rem;
    }

    .card-Banner h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .btn-Login {
        height: 1.8rem;
        width: 5rem;
        font-size: 0.7rem;
    }

    .btn-get {
        height: 2.5rem;
        width: 8rem;
        font-size: 1rem;
    }

    .card-Text {
        width: 90%;
        height: auto;
        margin: 0 auto;
        font-size: 0.9rem;
    }

    .container-Banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-Banner {
        width: 80%;
        background-color: #F2F3F5;
        padding: 20px 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 40px;
    }
}

.box-card-banner {
    background-color: #F2F3F5;
    padding: 40px 30px;
    text-align: center;
    border-radius: 40px;
    border: 0;
    box-shadow: -5px -5px 20px #f2f3f7, 5px 5px 15px #3a3a3a7e;
    margin-top: 100px;
}

@media (max-width: 1024px) {
    .box-card-banner {
        margin-top: 30px;
    }
}

.title-card-banner {
    font-size: 40px;
    font-weight: bold;
}

/* -------------------------- End Banner --------------------------  */

/* -------------------------- Start Build --------------------------  */
.card-Build-btm {
    width: 45%;
    padding: 40px 50px;
    display: flex;
    align-items: flex-start;
    border-radius: 40px;
    margin-top: 100px;
    margin-bottom: 450px;
    background-color: #F2F3F5;
}

.container-Build {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-Build {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.card-Build-Text {
    width: 100%;
    height: auto;

}

.img-Build {
    width: 40px;
    height: 40px;
}

.card-Build {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 120px;
    width: 220px;
}

.card-Build-bottom {
    display: flex;
    justify-content: flex-end;
}

.card-Build-out {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shadow-Build {
    border: 0;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
}

.container-Build h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-Build-bottom h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.buildimage {
    background-image: url(../../assets/images/bgbuile1.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}

.btn-Build {
    border: 0;
    border-radius: 40px;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
}

.btn-Build:hover {
    background-color: #eeeeee;
}

.btn-Build:focus {
    border: 0;
    border-radius: 40px;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width:1320px) {
    .card-Build {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        border-radius: 40px;
        height: 120px;
        width: 280px;
    }

    .card-Build-btm {
        width: 80%;
        padding: 40px 50px;
        display: flex;
        text-align: start;
        border-radius: 40px;
    }

    .container-Build {

        display: flex;
        justify-content: center;
    }

    .card-Build-out {
        display: flex;
        justify-content: center;
    }

    .title-Build {
        display: flex;
        text-align: center;
    }

    .card-Build-bottom {
        display: flex;
        justify-content: center;
    }

    .con-Build {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .btn-Build {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 100%;
        width: 80%;
    }


}

@media screen and (max-width:960px) {
    .title-Build {
        display: flex;
        justify-content: center;
    }

    .container-Build h1 {
        font-size: 2rem;
    }

    .container-Build p {
        font-size: 1rem;
    }

    .btn-Build {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 90%;
        width: 80%;
    }
}

@media screen and (max-width:540px) {
    .title-Build {
        display: flex;
        justify-content: center;
    }

    .container-Build h1 {
        font-size: 1.5rem;
    }

    .container-Build p {
        font-size: 0.9rem;
    }

    .btn-Build {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 80%;
        width: 70%;
    }

    .card-Build-btm h2 {
        font-size: 1.5rem;
    }
}

.box-build-image {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
}

/* @media (max-width: 768px) {
    .box-build-image {
        height: 600px;
    }
} */

/* -------------------------- End Build --------------------------  */

/* -------------------------- Start Content --------------------------  */
.box-bg-content {
    position: relative;
}

.box-bg-content .box-star-1 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
}

.box-bg-content .box-star-2 {
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-con {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    background-color: #F2F3F5;
}

.title-con {
    padding-top: 700px;
    padding-bottom: 120px;
}

.card-con h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-con p {
    font-size: 1.2rem;
    color: #8490A4;
}

.shadow-con {
    border: 0;
    box-shadow: -5px -5px 20px #F2F3F7, 5px 5px 15px #3a3a3a7e;
}

.conimage {
    background-image: url(../../assets/images/bgcontent3.png);
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 0;
    box-shadow: inset -10px -10px 15px #ffffff, inset 1px 1px 15px #7a7a7a85;
    border-radius: 50%;
}

.card-body h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body p {
    padding: 0 20px;
    text-align: center;
    color: #8490A4;
}

.card-con-box {
    background-color: #F2F3F5;
    border-radius: 40px;
    display: flex;
    align-items: center;
    min-height: 250px;
}

@media (min-width: 768px) {
    .card-con-box {
        flex: 1 0 48%;
    }
}

@media (min-width: 1024px) {
    .card-con-box {
        flex: 1 0 21%;
    }

    .card-con {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 40px;
        background-color: #F2F3F5;
    }
}

@media screen and (max-width:1320px) {

    .title-con {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:960px) {

    .conimage {
        background-image: url(../../assets/images/bgcontent3.png);
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
    }

    .card-con h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: 10px 0 5px 20px;
    }

    .title-con {
        padding-top: 350px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width:540px) {
    .conimage {
        background-image: url(../../assets/images/bgcontent3.png);
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
    }

    .card-con-box {
        background-color: #F2F3F5;
        height: 100%;
        border-radius: 40px;
    }

    .card-body h6 {
        font-size: 1rem;
        font-weight: bold;
    }

    .card-body p {
        padding: 0 10px;
        font-size: 0.9rem;
    }

    .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border: 0;
        box-shadow: inset -10px -10px 15px #ffffff, inset 1px 1px 15px #7a7a7a85;
        border-radius: 50%;
    }

    .card-con h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px 10px 5px 20px;
    }

    .card-con p {
        font-size: 1rem;
        margin: 5px 10px 5px 20px;
    }

    .title-con {
        padding-top: 350px;
        padding-bottom: 120px;
    }
}

.card-con-box .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-bg {
    z-index: -1;
    margin-top: -120px;
    background-image: url(../../assets/images/device/device_0.svg);
    background-repeat: no-repeat;
    height: calc(300vh);
    background-size: 175%;
    background-position: center;
}

@media (min-width: 768px) {
    .content-bg {
        margin-top: 0px;
        height: calc(185vh);
        background-size: 175%;
    }
}

@media (min-width: 1024px) {
    .content-bg {
        margin-top: -50px;
        height: calc(150vh);
        background-size: 130%;
    }
}

.box-content-margin {
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .box-content-margin {
        margin-top: 60px;
    }
}

.box-content-ready {
    height: 800px;
    display: flex;
    flex-wrap: nowrap;
}

.box-device_1 {
    height: 350px;
    width: auto;
}

.box-device_2 {
    height: 100%;
    width: auto;
}

@media (max-width: 1024px) {
    .box-content-ready {
        max-height: 100%;
        flex-wrap: wrap;
    }

    .box-device_1 {
        max-height: 350px;
    }
}

@media (min-width: 1200px) {
    .box-content-ready {
        height: 1000px;
    }
}

.box-content-margin-ready {
    margin-top: -150px !important;
}

@media (max-width: 1024px) {
    .box-content-margin-ready {
        margin-top: 300px !important;
    }
}

/* -------------------------- End Content --------------------------  */

/* -------------------------- Start FAQS --------------------------  */
.bg-FAQS {
    background-image: url(../../assets/images/bgFAQS.png);
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-position: center;

}

.container-FAQS {
    padding-top: 80px;
    padding-bottom: 50px;
}


.wrapper-FAQS {
    width: 100%;
    margin: 0 auto;
}

.accordion-FAQS {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 500px;
}



.item-FAQS {
    background-color: #F2F3F5;
    margin: 10px 20px;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-FAQS {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-FAQS {
    color: #000;
    max-height: 0;
    overflow: hidden;

}

.content-FAQS.show {
    height: auto;
    max-height: 9999px;
}


.shadow-FAQS {
    border: 0;
    box-shadow: -5px -5px 20px #ffffff, 5px 5px 15px #7a7a7a85;
}

.shadow-FAQS-btn {
    border: 0;
    box-shadow: -5px -5px 20px #ffffff, 5px 5px 15px #7a7a7a85;
}

.btn-FAQS {
    background-color: #F2F3F5;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8490A4;
    font-weight: bold;
    font-size: 1rem;
}

.lorem-FAQS {
    width: 90%;
    height: auto;
}


@media screen and (max-width:1320px) {
    .accordion-FAQS {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        height: auto;
    }

    .item-FAQS {
        background-color: #F2F3F5;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}


@media screen and (max-width:960px) {
    .container-FAQS {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .item-FAQS {
        background-color: #F2F3F5;
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.text-wrap-1row {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* -------------------------- End FAQS --------------------------  */

/* -------------------------- Start Footer --------------------------  */
.footer-dark {
    color: #ebebeb;
    background-color: #000000;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.foot-end {
    /* background-color: cadetblue; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-text {
    /* background-color: rgb(80, 80, 80); */
    width: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.icon-footer {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}


@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
    display: flex;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        justify-content: center;
        font-size: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    color: rgb(0, 0, 0);
    opacity: 0.75;
    background-color: rgb(255, 255, 255);
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

/* -------------------------- End Footer --------------------------  */

/* -------------------------- Start Insight --------------------------  */
.card-Insight-btm {
    padding: 40px 50px;
    display: flex;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #F2F3F5;
}

.container-Insight {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-Insight {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.card-Insight-Text {
    width: 100%;
    height: auto;
}

.img-Insight {
    width: 40px;
    height: 40px;

}

.card-Insight {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 120px;
    width: 190px;
    background-color: #F2F3F5;
}

.card-Insight-bottom {
    display: flex;
    justify-content: flex-start;
}

.card-Insight-out {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shadow-Insight {
    border: 0;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
}

.container-Insight h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-Insight-bottom h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.container-Insight p {
    font-size: 1rem;
}

.card-Insight-bottom p {
    font-size: 1rem;
    color: #99A3B3;
}

.insightimage {
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;

}

.btn-Insight {
    border: 0;
    border-radius: 40px;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
}

.btn-Insight:hover {
    background-color: #eeeeee;
}

.btn-Insight.active,
.btn-Insight:focus {
    border: 0;
    border-radius: 40px;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .card-Insight-out {
        width: 100%;
    }
}

@media screen and (max-width:1320px) {
    .card-Insight {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        border-radius: 40px;
        height: 120px;
        /* width: 100%; */
        background-color: #F2F3F5;

    }

    .card-Insight-btm {
        padding: 40px 50px;
        display: flex;
        text-align: start;
        border-radius: 40px;

    }

    .container-Insight {

        display: flex;
        justify-content: center;
    }

    .title-Insight {
        display: flex;
        text-align: center;
    }

    .card-Insight-bottom {
        display: flex;
        justify-content: center;
    }

    .con-Insight {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 100%;
        /* width: 80%; */
    }
}

@media screen and (max-width:960px) {
    .title-Insight {
        display: flex;
        justify-content: center;
    }

    .container-Insight h1 {
        font-size: 2rem;
    }

    .container-Insight p {
        font-size: 1rem;
    }

    .card-Insight-bottom h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        /* height: 90%; */
        /* width: 80%; */
    }
}

@media screen and (max-width:540px) {
    .title-Insight {
        display: flex;
        justify-content: center;
    }

    .container-Insight h1 {
        font-size: 1.5rem;
    }

    .container-Insight p {
        font-size: 0.9rem;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 80%;
        width: 70%;
    }

    .card-Insight-btm h2 {
        font-size: 1.5rem;
    }

}

.insight-bg {
    z-index: -1;
    margin-top: -120px;
    /* background-image: url(../../assets/images/line/line_2.svg); */
    background-repeat: no-repeat;
    margin-top: 0px;
    height: calc(300vh);
    background-size: 175%;
    background-position: center;
}

@media (min-width: 768px) {
    .insight-bg {
        margin-top: 0px;
        height: calc(205vh);
        background-size: 170%;
    }
}

@media (min-width: 1024px) {
    .insight-bg {
        margin-top: 0px;
        height: calc(170vh);
        background-size: 100%;
    }
}

.box-insight-padding {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.box-title-insight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .box-title-insight {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.box-text-insight {
    font-size: 36px;
    width: 300px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .box-text-insight {
        width: 100%;
    }

}

/* -------------------------- End Insight --------------------------  */

/* -------------------------- Start Partners --------------------------  */
.bg-Partners {
    background-color: #f8f9fa;
    overflow: hidden;
}

.card-Partners {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 60px;
    width: 150px;
    background-color: white;
}

.Partners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Partners {
    display: flex;
    margin-top: 100px;
}

.title-Partners {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.title1-Partners {
    height: auto;
    width: 300px;
    margin: auto 0;
}


.con-Partners {
    margin-top: 150px;
    margin-bottom: 100px;
}

.card-Partners-Text {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;

}

.card-con-Partners {
    height: 120px;
    width: auto;
}

.img-Partners {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.btn-container-Partners {
    display: flex;
    flex-wrap: wrap;
}

.btn-Partners {
    border: 0;
    box-shadow: -5px -5px 10px #f8f8f8f3, 5px 5px 15px #7a7a7a85;
}

.btn-Partners:hover {
    background-color: #f3f3f3b0;
}

.btn-Partners:focus {
    border: 0;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    font-weight: bold;
}

@media screen and (max-width:1320px) {
    .title-Partners {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:960px) {
    .Partners-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .title-Partners h1 {
        font-size: 2rem;
    }

    .btn-container-Partners p {
        font-size: 1rem;
    }

    .btn-container-Partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }


}

@media screen and (max-width:720px) {
    .btn-container-Partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width:540px) {
    .title-Partners h1 {
        font-size: 1.5rem;
    }

    .btn-container-Partners p {
        font-size: 0.9rem;
    }

}

.box-carousel-image {
    width: 100%;
    height: 400px;
    padding: 30px 0px;
    object-fit: cover;
}

.react-multi-carousel-dot button {
    border: 1px transparent !important;
}

.react-multi-carousel-dot--active button {
    border: 1px solid #D8D8D8 !important;
    background: #E20000 !important;
}

/* -------------------------- End Partners --------------------------  */