.bg-FAQS {
    background-image: url(../../assets/images/bgFAQS.png);
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
}

.container-FAQS {
    padding-top: 80px;
    padding-bottom: 50px;
}


.wrapper-FAQS {
    width: 100%;
    margin: 0 auto;
}

.accordion-FAQS {
    /* background-color: antiquewhite; */
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* NEW */
    height: 500px;
}



.item-FAQS {
    background-color: #F2F3F5;
    width: 45%;
    margin: 10px 20px;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-FAQS {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-FAQS {
    color: #000;
    max-height: 0;
    overflow: hidden;

}

.content-FAQS.show {
    height: auto;
    max-height: 9999px;
}


.shadow-FAQS {
    border: 0;
    box-shadow: -5px -5px 20px #ffffff, 5px 5px 15px #7a7a7a85;
}

.shadow-FAQS-btn {
    border: 0;
    box-shadow: -5px -5px 20px #ffffff, 5px 5px 15px #7a7a7a85;
}

.btn-FAQS {
    background-color: #F2F3F5;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8490A4;
    font-weight: bold;
    font-size: 1rem;
}

.lorem-FAQS {
    /* background-color: aqua; */
    width: 90%;
    height: auto;
}


@media screen and (max-width:1320px) {
    .accordion-FAQS {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        height: auto;
    }

    .item-FAQS {
        background-color: #F2F3F5;
        width: 60%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}


@media screen and (max-width:960px) {
    .container-FAQS {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .item-FAQS {
        background-color: #F2F3F5;
        width: 70%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}