.bg-FAQS {
    background-image: url(../../assets/images/bgFAQS.png);
    background-repeat: no-repeat;
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    object-fit: fill;
}

.container-FAQS {
    margin-top: 100px;
    margin-bottom: 100px;
}

.layout-FAQS {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}

.card-FAQS {
    background-color: #F2F3F5;
    height: 60px;
    width: 550px;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    /* box-shadow: 10px 10px 20px #cccccc; */
}

.card-no-FAQS {
    background-color: #F2F3F5;
    height: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    /* box-shadow: 10px 10px 20px #cccccc; */
}

.shadow-FAQS {
    border: 0;
    box-shadow: -5px -5px 20px #f8f8f8f3, 5px 5px 20px #7a7a7a85;
}

.btn-FAQS {
    background-color: #F2F3F5;
    border: 1px solid #F2F3F5;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #8490A4;
    font-weight: bold;
    font-size: large;
    box-shadow: 5px 5px 10px #cccccc;
}

.card-FAQS-off {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-FAQS-no {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lorem-FAQS {
    /* background-color: aqua; */
    width: 470px;
    height: auto;
}

@media screen and (max-width:1400px) {
    .layout-FAQS {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

}

@media screen and (max-width:768px) {
    .card-FAQS {
        background-color: #F2F3F5;
        height: 50px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
    }

}

@media screen and (max-width:575px) {
    .card-FAQS {
        background-color: #F2F3F5;
        height: 50px;
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
    }

}