.bg-Partners {
    /* background: url("../../assets/images/bgFAQS.png") no-repeat center center; */
    background-color: #f8f9fa;
    overflow: hidden;
}

.card-Partners {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 60px;
    width: 150px;
    background-color: white;
}

.Partners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Partners {
    display: flex;
    margin-top: 100px;

}

.title-Partners {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.title1-Partners {
    height: auto;
    width: 300px;
    margin: auto 0;
}


.con-Partners {
    margin-top: 150px;
    margin-bottom: 100px;
}

.card-Partners-Text {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;

}

.card-con-Partners {
    height: 120px;
    width: auto;
}

.img-Partners {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.btn-container-Partners {
    display: flex;
    flex-wrap: wrap;
}

.btn-Partners {
    border: 0;
    box-shadow: -5px -5px 10px #f8f8f8f3, 5px 5px 15px #7a7a7a85;
}

.btn-Partners:hover {
    background-color: #f3f3f3b0;
}

.btn-Partners:focus {
    border: 0;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    font-weight: bold;
}

@media screen and (max-width:1320px) {
    .title-Partners {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:960px) {
    .Partners-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .title-Partners h1 {
        font-size: 2rem;
    }

    .btn-container-Partners p {
        font-size: 1rem;
    }

    .btn-container-Partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


}

@media screen and (max-width:720px) {
    .btn-container-Partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width:540px) {
    .title-Partners h1 {
        font-size: 1.5rem;
    }

    .btn-container-Partners p {
        font-size: 0.9rem;
    }

}