* {
    margin: 0;
    padding: 0;
}

.card-con {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    background-color: #F2F3F5;
}

.title-con {
    padding-top: 700px;
    padding-bottom: 120px;
}

.card-con h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-con p {
    font-size: 1.2rem;
    color: #8490A4;
}

.shadow-con {
    border: 0;
    box-shadow: -5px -5px 20px #F2F3F7, 5px 5px 15px #3a3a3a7e;
}

.conimage {
    background-image: url(../../assets/images/bgcontent3.png);
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 0;
    box-shadow: inset -10px -10px 15px #ffffff,
        inset 1px 1px 15px #7a7a7a85;
    border-radius: 50%;
}

.card-body h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body p {
    padding: 0 20px;
    text-align: center;
    color: #8490A4;
}

.card-con-box {
    background-color: #F2F3F5;
    border-radius: 40px;
    display: flex;
    align-items: center;
    min-height: 250px;
}

@media (min-width: 768px) {
    .card-con-box {
        flex: 1 0 48%;
    }
}

@media (min-width: 1024px) {
    .card-con-box {
        flex: 1 0 21%;
    }

    .card-con {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-radius: 40px;
        background-color: #F2F3F5;
    }
}

@media screen and (max-width:1320px) {

    .title-con {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:960px) {

    .conimage {
        background-image: url(../../assets/images/bgcontent3.png);
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
        /* overflow: hidden; */
    }

    .card-con h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: 10px 0 5px 20px;
    }

    .title-con {
        padding-top: 350px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width:540px) {

    .conimage {
        background-image: url(../../assets/images/bgcontent3.png);
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
        /* overflow: hidden; */
    }

    .card-con-box {
        background-color: #F2F3F5;
        height: 100%;
        border-radius: 40px;
    }

    .card-body h6 {
        font-size: 1rem;
        font-weight: bold;
    }

    .card-body p {
        padding: 0 10px;
        font-size: 0.9rem;
    }

    .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border: 0;
        box-shadow: inset -10px -10px 15px #ffffff,
            inset 1px 1px 15px #7a7a7a85;
        border-radius: 50%;
    }

    .card-con h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px 10px 5px 20px;
    }

    .card-con p {
        font-size: 1rem;
        margin: 5px 10px 5px 20px;
    }

    .title-con {
        padding-top: 350px;
        padding-bottom: 120px;
    }
}

.card-con-box .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-bg {
    z-index: -1;
    margin-top: -120px;
    background-image: url(../../assets/images/device/device_0.svg);
    background-repeat: no-repeat;
    height: calc(300vh);
    background-size: 175%;
    background-position: center;
}

@media (min-width: 768px) {
    .content-bg {
        margin-top: 0px;
        height: calc(185vh);
        background-size: 175%;
    }
}

@media (min-width: 1024px) {
    .content-bg {
        margin-top: -50px;
        height: calc(150vh);
        background-size: 130%;
    }
}