.card-Insight-btm {
    padding: 40px 50px;
    display: flex;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #F2F3F5;
}

.container-Insight {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-Insight {
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.card-Insight-Text {
    width: 100%;
    height: auto;
}

.img-Insight {
    width: 40px;
    height: 40px;

}

.card-Insight {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    height: 120px;
    width: 220px;
    background-color: #F2F3F5;
}

.card-Insight-bottom {
    display: flex;
    justify-content: flex-start;
}

.card-Insight-out {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shadow-Insight {
    border: 0;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
}

.container-Insight h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-Insight-bottom h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.container-Insight p {
    font-size: 1rem;
}

.card-Insight-bottom p {
    font-size: 1rem;
    color: #99A3B3;
}

.insightimage {
    /* background-image: url(../../assets/images/bginsight2.png); */
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
}

.btn-Insight {
    border: 0;
    border-radius: 40px;
    box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
}

.btn-Insight:hover {
    background-color: #eeeeee;
}

.btn-Insight.active,
.btn-Insight:focus {
    border: 0;
    border-radius: 40px;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 5px 5px 15px #7a7a7a85;
    background-color: #F2F3F5;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width:1320px) {
    .card-Insight {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        border-radius: 40px;
        height: 120px;
        width: 280px;
        background-color: #F2F3F5;

    }

    .card-Insight-btm {
        padding: 40px 50px;
        display: flex;
        text-align: start;
        border-radius: 40px;

    }

    .container-Insight {

        display: flex;
        justify-content: center;
    }

    .card-Insight-out {
        display: flex;
        justify-content: center;
    }

    .title-Insight {
        display: flex;
        text-align: center;
    }

    .card-Insight-bottom {
        display: flex;
        justify-content: center;
    }

    .con-Insight {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 100%;
        width: 80%;
    }


}


@media screen and (max-width:960px) {
    .title-Insight {
        display: flex;
        justify-content: center;
    }

    .container-Insight h1 {
        font-size: 2rem;
    }

    .container-Insight p {
        font-size: 1rem;
    }

    .card-Insight-bottom h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 90%;
        width: 80%;
    }
}

@media screen and (max-width:540px) {
    .title-Insight {
        display: flex;
        justify-content: center;
    }

    .container-Insight h1 {
        font-size: 1.5rem;
    }

    .container-Insight p {
        font-size: 0.9rem;
    }

    .btn-Insight {
        border: 0;
        border-radius: 40px;
        box-shadow: -5px -5px 10px #fffffff3, 5px 5px 15px #7a7a7a85;
        background-color: #F2F3F5;
        height: 80%;
        width: 70%;
    }

    .card-Insight-btm h2 {
        font-size: 1.5rem;
    }

}

.insight-bg {
    z-index: -1;
    margin-top: -120px;
    background-image: url(../../assets/images/line/line_2.svg);
    background-repeat: no-repeat;
    margin-top: 0px;
    height: calc(300vh);
    background-size: 175%;
    background-position: center;
}

@media (min-width: 768px) {
    .insight-bg {
        margin-top: 0px;
        height: calc(205vh);
        background-size: 170%;
    }
}

@media (min-width: 1024px) {
    .insight-bg {
        margin-top: 0px;
        height: calc(170vh);
        background-size: 100%;
    }
}