* {
  margin: 0;
  padding: 0;
}

.Banner {
  padding-top: 300px;
  padding-bottom: 400px;
}

.Banner h1 {
  font-size: 3.8rem;
  font-weight: bold;
}

.Banner h3 {
  font-size: 2.5rem;
}

.card-Banner h2 {
  font-size: 2.8rem;
  font-weight: bold;
}



.Banner .btn-danger {
  background-color: rgba(218, 12, 12, 0.884);
  border: 1px solid rgba(218, 12, 12, 0.884);
}

.Banner .btn-danger:hover {
  background-color: #b91526;
  border: 1px solid #a01422;
}

.btn-Login {
  height: 3.6rem;
  width: 16rem;
  font-size: 1.2rem;
}

.card-Banner {
  width: 70%;
  background-color: #F2F3F5;
  padding: 30px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
}

.shadow-Banner {
  border: 0;
  box-shadow: -5px -5px 20px #F2F3F7, 5px 5px 15px #3a3a3a7e;
}


.card-Text {
  width: 60%;
  height: auto;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.card-Banner-box {
  width: 30%;
  background-color: #F2F3F5;
  height: auto;
  border-radius: 40px;
}

.bannerimage {
  background-image: url(../../assets/images/bgbanner4.png);
  background-repeat: no-repeat;
  height: 140vh;
  background-size: cover;
  /* overflow: hidden; */
}