.title {
  margin-top: 200px;
  margin-bottom: 250px;
}

.btn-Login {
  height: 3rem;
  width: 10rem;
}

.card-Banner {
  width: 63%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  text-align: center;
  border-radius: 40px;
}

.card-Text {
  width: 60%;
  height: auto;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
}

.card-Ban {
  border-radius: 40px;
}